#include "Distribution.xcconfig"

MACOSX_DEPLOYMENT_TARGET = 10.13
SDKROOT = macosx
FRAMEWORK_SEARCH_PATHS = /Library/Frameworks
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_ENABLE_OBJC_WEAK = YES

ALWAYS_SEARCH_USER_PATHS = NO

ENABLE_HARDENED_RUNTIME = YES
