<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMAND_LIST</key>
	<array>
		<dict>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;Welcome to OMC&quot;</string>
			</array>
			<key>END_NOTIFICATION</key>
			<dict/>
			<key>NAME</key>
			<string>Welcome</string>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>11.0</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>4.3</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>app.will.launch</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>WAIT_FOR_TASK_COMPLETION</key>
			<true/>
			<key>NAME</key>
			<string>OMCApplet</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>app.did.launch</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>WAIT_FOR_TASK_COMPLETION</key>
			<true/>
			<key>NAME</key>
			<string>OMCApplet</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>app.will.terminate</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>WAIT_FOR_TASK_COMPLETION</key>
			<true/>
			<key>NAME</key>
			<string>OMCApplet</string>
		</dict>
	</array>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
