CODE_SIGN_ENTITLEMENTS = ${TARGET_NAME}.entitlements
GCC_PREFIX_HEADER = OMCApplet_Prefix.pch
INFOPLIST_FILE = Info.plist
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.abracode.${TARGET_NAME}
PRODUCT_NAME = ${TARGET_NAME}

IBC_FLATTEN_NIBS = NO
IBC_STRIP_NIBS = NO
