<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMAND_LIST</key>
	<array>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string></string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<string>Test Executor</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.manual.script.file</string>
			<key>COMMAND</key>
			<array>
				<string>__APP_BUNDLE_PATH__</string>
				<string>/Contents/Resources/Scripts/executor.test.exe.script.file.sh</string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_none</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen_with_output_window</string>
			<key>NAME</key>
			<string>Test Manual Script Execution</string>
			<key>NOTES</key>
			<string>Manual setup of what exe_script_file and exe_script_file_with_output_window should do automatically</string>
			<key>POPEN_SHELL</key>
			<array>
				<string>/bin/sh</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.exe.script.file</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file_with_output_window</string>
			<key>NAME</key>
			<string>Test Sh File Execution</string>
			<key>NOTES</key>
			<string>New execution style test to run executor.test.exe.script.file.sh in Contents/Resources/Scripts</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.javascript</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file_with_output_window</string>
			<key>NAME</key>
			<string>Test JavaScript File Execution</string>
			<key>NOTES</key>
			<string></string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.AppleScript</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file_with_output_window</string>
			<key>NAME</key>
			<string>Test AppleScript File Execution</string>
			<key>NOTES</key>
			<string></string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.terminal</string>
			<key>COMMAND</key>
			<array>
				<string>env
</string>
			</array>
			<key>EXECUTION_MODE</key>
			<string>exe_terminal</string>
			<key>NAME</key>
			<array>
				<string>Test OMC Env Variables in Terminal</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>executor.test.output.window.position</string>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;just testing output window&quot;
sleep 2
echo &quot;slept for a while, progress should show up&quot;
sleep 2
echo &quot;exit with non-zero return value to see if progress gets dismissed&quot;
exit 1
</string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_none</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen_with_output_window</string>
			<key>NAME</key>
			<string>Output Window Position Test</string>
			<key>NOTES</key>
			<string>Simple Diff command handler</string>
			<key>OUTPUT_WINDOW_SETTINGS</key>
			<dict>
				<key>LINE_OUTPUT_INTERVAL</key>
				<real>0</real>
				<key>WINDOW_ALPHA</key>
				<real>1</real>
				<key>WINDOW_CLOSE_FADE_OUT</key>
				<false/>
				<key>WINDOW_HEIGHT</key>
				<integer>332</integer>
				<key>WINDOW_OPEN_FADE_IN</key>
				<false/>
				<key>WINDOW_POSITION</key>
				<string>cascade</string>
				<key>WINDOW_TITLE</key>
				<string>Test</string>
				<key>WINDOW_TYPE</key>
				<string>regular</string>
				<key>WINDOW_WIDTH</key>
				<integer>881</integer>
			</dict>
			<key>PROGRESS</key>
			<dict>
				<key>DELAY</key>
				<real>1</real>
			</dict>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND_ID</key>
			<string>executor.test.output.window.options</string>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;New Output Window&quot;; sleep 1; echo &quot;More text here&quot;; sleep 1; echo &quot;And the last line&quot;;</string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen_with_output_window</string>
			<key>NAME</key>
			<array>
				<string>Output Window Test</string>
			</array>
			<key>OUTPUT_WINDOW_SETTINGS</key>
			<dict>
				<key>ABSOLUTE_POSITION_LEFT</key>
				<integer>50</integer>
				<key>ABSOLUTE_POSITION_TOP</key>
				<integer>50</integer>
				<key>AUTO_CLOSE_ON_SUCCESS_ONLY</key>
				<true/>
				<key>AUTO_CLOSE_TIMEOUT</key>
				<real>4</real>
				<key>BACKGROUND_COLOR</key>
				<string>FF3333</string>
				<key>FRACT_POSITION_LEFT</key>
				<real>0.1000000014901161</real>
				<key>FRACT_POSITION_TOP</key>
				<real>0.300000011920929</real>
				<key>TEXT_COLOR</key>
				<string>000080</string>
				<key>TEXT_FONT</key>
				<string>Monaco</string>
				<key>TEXT_SIZE</key>
				<integer>10</integer>
				<key>WINDOW_ALPHA</key>
				<real>0.800000011920929</real>
				<key>WINDOW_CLOSE_FADE_OUT</key>
				<true/>
				<key>WINDOW_HEIGHT</key>
				<integer>250</integer>
				<key>WINDOW_OPEN_FADE_IN</key>
				<true/>
				<key>WINDOW_POSITION</key>
				<string>absolute</string>
				<key>WINDOW_TYPE</key>
				<string>global_floating</string>
				<key>WINDOW_WIDTH</key>
				<integer>600</integer>
			</dict>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>CHOOSE_FILE_DIALOG</key>
			<dict>
				<key>DEFAULT_FILE_NAME</key>
				<array>
					<string>Select me</string>
				</array>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>/Users/tom/Documents</string>
				</array>
				<key>MESSAGE</key>
				<string>Choosing one file</string>
				<key>SHOW_INVISIBLE_ITEMS</key>
				<true/>
			</dict>
			<key>CHOOSE_FOLDER_DIALOG</key>
			<dict>
				<key>DEFAULT_FILE_NAME</key>
				<array>
					<string>Select me </string>
				</array>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>/Users/tom/Music</string>
				</array>
				<key>MESSAGE</key>
				<string>Choosing one folder</string>
				<key>SHOW_INVISIBLE_ITEMS</key>
				<true/>
			</dict>
			<key>CHOOSE_OBJECT_DIALOG</key>
			<dict>
				<key>DEFAULT_FILE_NAME</key>
				<array>
					<string>Select me</string>
				</array>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>/Users/tom/Pictures</string>
				</array>
				<key>MESSAGE</key>
				<string>Choosing one file or folder</string>
				<key>SHOW_INVISIBLE_ITEMS</key>
				<true/>
			</dict>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;$OMC_DLG_CHOOSE_FILE_PATH&quot;; echo &quot;$OMC_DLG_CHOOSE_FOLDER_PATH&quot;; echo &quot;$OMC_DLG_CHOOSE_OBJECT_PATH&quot;; echo &quot;$OMC_DLG_SAVE_AS_PATH&quot;</string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen_with_output_window</string>
			<key>NAME</key>
			<array>
				<string>Test File Panels</string>
			</array>
			<key>OUTPUT_WINDOW_SETTINGS</key>
			<dict>
				<key>AUTO_CLOSE_ON_SUCCESS_ONLY</key>
				<true/>
				<key>AUTO_CLOSE_TIMEOUT</key>
				<real>-1</real>
				<key>BACKGROUND_COLOR</key>
				<string>FFFFFF</string>
				<key>TEXT_COLOR</key>
				<string>000000</string>
				<key>TEXT_FONT</key>
				<string>Monaco</string>
				<key>TEXT_SIZE</key>
				<integer>10</integer>
				<key>WINDOW_ALPHA</key>
				<real>1</real>
				<key>WINDOW_CLOSE_FADE_OUT</key>
				<false/>
				<key>WINDOW_HEIGHT</key>
				<integer>200</integer>
				<key>WINDOW_OPEN_FADE_IN</key>
				<false/>
				<key>WINDOW_POSITION</key>
				<string>alert</string>
				<key>WINDOW_TITLE</key>
				<string>Untitled</string>
				<key>WINDOW_TYPE</key>
				<string>floating</string>
				<key>WINDOW_WIDTH</key>
				<integer>400</integer>
			</dict>
			<key>SAVE_AS_DIALOG</key>
			<dict>
				<key>DEFAULT_FILE_NAME</key>
				<array>
					<string>Default Save Filename</string>
				</array>
				<key>DEFAULT_LOCATION</key>
				<array>
					<string>/Users/</string>
				</array>
				<key>MESSAGE</key>
				<string>Saving new file</string>
				<key>SHOW_INVISIBLE_ITEMS</key>
				<true/>
			</dict>
			<key>SUBMENU_NAME</key>
			<string>/</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>
				echo &quot;101 = $OMC_NIB_DIALOG_CONTROL_101_VALUE&quot;;
				echo &quot;102 = $OMC_NIB_DIALOG_CONTROL_102_VALUE&quot;;
				echo &quot;111 = $OMC_NIB_DIALOG_CONTROL_111_VALUE&quot;;
				echo &quot;121 = $OMC_NIB_DIALOG_CONTROL_121_VALUE&quot;;
				echo &quot;122 = $OMC_NIB_DIALOG_CONTROL_122_VALUE&quot;;
				echo &quot;200 = $OMC_NIB_DIALOG_CONTROL_200_VALUE&quot;;
				echo &quot;201 = $OMC_NIB_DIALOG_CONTROL_201_VALUE&quot;;
				echo &quot;202 = $OMC_NIB_DIALOG_CONTROL_202_VALUE&quot;;
				echo &quot;222 = $OMC_NIB_DIALOG_CONTROL_222_VALUE&quot;;
				echo &quot;223 = $OMC_NIB_DIALOG_CONTROL_223_VALUE&quot;;
				</string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen_with_output_window</string>
			<key>NAME</key>
			<array>
				<string>Cocoa Dialog</string>
			</array>
			<key>NIB_DIALOG</key>
			<dict>
				<key>IS_BLOCKING</key>
				<true/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>Example1</string>
			</dict>
			<key>OUTPUT_WINDOW_SETTINGS</key>
			<dict>
				<key>AUTO_CLOSE_ON_SUCCESS_ONLY</key>
				<true/>
				<key>AUTO_CLOSE_TIMEOUT</key>
				<real>-1</real>
				<key>BACKGROUND_COLOR</key>
				<string>FFFFFF</string>
				<key>TEXT_COLOR</key>
				<string>000000</string>
				<key>TEXT_FONT</key>
				<string>Monaco</string>
				<key>TEXT_SIZE</key>
				<integer>10</integer>
				<key>WINDOW_ALPHA</key>
				<real>1</real>
				<key>WINDOW_CLOSE_FADE_OUT</key>
				<false/>
				<key>WINDOW_HEIGHT</key>
				<integer>200</integer>
				<key>WINDOW_OPEN_FADE_IN</key>
				<false/>
				<key>WINDOW_POSITION</key>
				<string>alert</string>
				<key>WINDOW_TITLE</key>
				<string>Untitled</string>
				<key>WINDOW_TYPE</key>
				<string>floating</string>
				<key>WINDOW_WIDTH</key>
				<integer>400</integer>
			</dict>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.4</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>2.0</string>
			<key>SUBMENU_NAME</key>
			<string>/Submenu Test 1</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;Executing dialog init subcommand&quot;
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 101 &quot;OFF&quot;
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 102 0
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 111 &quot;Subcommand-initialized text view&quot;
#&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 122 &quot;/Users/tom/test-image.png&quot;
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 900 omc_disable
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 200 omc_select
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>omc.dialog.initialize</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Cocoa Dialog</string>
			</array>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.5</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>2.0</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string></string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>ImageKit Test</string>
			</array>
			<key>NIB_DIALOG</key>
			<dict>
				<key>IS_BLOCKING</key>
				<false/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>ImageKit</string>
			</dict>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.5</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>2.0</string>
			<key>SUBMENU_NAME</key>
			<string>Submenu Test 2</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>echo &quot;Executing dialog init subcommand&quot;;
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 3  &quot;$OMC_APP_BUNDLE_PATH/Contents/Resources/sunflower.jpg&quot;;
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>omc.dialog.initialize</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>ImageKit Test</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string></string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>WebKit Test</string>
			</array>
			<key>NIB_DIALOG</key>
			<dict>
				<key>IS_BLOCKING</key>
				<false/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>WebKit</string>
			</dict>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.4</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>2.0</string>
			<key>SUBMENU_NAME</key>
			<string>/Submenu Test 1/WebKit Submenu</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>
#&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 1 &apos;http://www.abracode.com/&apos;;
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 2 &apos;http://www.abracode.com/&apos;;
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>omc.dialog.initialize</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>WebKit Test</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string></string>
			</array>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>QuickTime View Test</string>
			</array>
			<key>NIB_DIALOG</key>
			<dict>
				<key>IS_BLOCKING</key>
				<false/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>QuickTime</string>
			</dict>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.4</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>2.0</string>
			<key>SUBMENU_NAME</key>
			<string>..</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>
&quot;$OMC_OMC_SUPPORT_PATH/omc_dialog_control&quot; &quot;$OMC_NIB_DLG_GUID&quot; 1 &quot;$OMC_APP_BUNDLE_PATH/Contents/Resources/Introduction.qtz&quot;;
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>omc.dialog.initialize</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>QuickTime View Test</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
