<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OnMyCommandCM</string>
	<key>CFBundleGetInfoString</key>
	<string>OnMyCommandCM version ${OMC_BUNDLE_VERSION}</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>OnMyCommandCM version ${OMC_BUNDLE_VERSION}, Copyright Abracode</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>cmpi</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>${OMC_BUNDLE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>cmnu</string>
	<key>CFBundleVersion</key>
	<string>${OMC_BUNDLE_VERSION}</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>CDA548CA-C6E5-11D6-8221-003065EAE3BE</key>
		<string>ACMPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>2F6522E9-3E66-11D5-80A7-003065B300BC</key>
		<array>
			<string>CDA548CA-C6E5-11D6-8221-003065EAE3BE</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Abracode</string>
</dict>
</plist>
