
DEPLOYMENT_POSTPROCESSING = YES
EXPORTED_SYMBOLS_FILE = OnMyCommandCM.exp
INFOPLIST_FILE = Info-OnMyCommandCM.plist
INSTALL_PATH = /Library/Contextual Menu Items
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.abracode.${TARGET_NAME}
PRODUCT_NAME = ${TARGET_NAME}
WRAPPER_EXTENSION = plugin
