GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Abracode_Prefix.pch

INFOPLIST_FILE = Info.plist
INSTALL_PATH = @rpath
PRODUCT_BUNDLE_IDENTIFIER = com.abracode.AbracodeFramework
PRODUCT_NAME = Abracode
WRAPPER_EXTENSION = framework

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
EXPORTED_SYMBOLS_FILE = AbracodeFramework.exp
FRAMEWORK_VERSION = A
USER_HEADER_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR)/generated

OTHER_CODE_SIGN_FLAGS = --deep --verbose
