<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMAND_LIST</key>
	<array>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Droplet Preferences</string>
			</array>
			<key>NIB_DIALOG</key>
			<dict>
				<key>INIT_SUBCOMMAND_ID</key>
				<string>com.abracode.DropletPreferences.Initialize</string>
				<key>IS_BLOCKING</key>
				<true/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>DropletPreferences</string>
			</dict>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>#echo "Droplet Preferences Init";
bundleIdentifier=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$OMC_MY_HOST_BUNDLE_PATH/Contents/Info.plist" /CFBundleIdentifier);

prefsFile="/Users/$USER/Library/Preferences/$bundleIdentifier.plist";
showNav=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$prefsFile" /SHOW_NAV_DIALOG_ON_STARTUP);
quitDrop=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$prefsFile" /QUIT_AFTER_DROP_EXECUTION);
runReopen=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$prefsFile" /RUN_COMMAND_ON_REOPEN_EVENT);

#defaults prints stupid log to console if the key is not found so forget about it
#showNav=$(/usr/bin/defaults read "$bundleIdentifier" SHOW_NAV_DIALOG_ON_STARTUP);
#quitDrop=$(/usr/bin/defaults read "$bundleIdentifier" QUIT_AFTER_DROP_EXECUTION);
#runReopen=$(/usr/bin/defaults read "$bundleIdentifier" RUN_COMMAND_ON_REOPEN_EVENT);

#echo "showNav=$showNav";
if [ "$showNav" != "false" ]; then
	showNav="1";
else
	showNav="0";
fi

#echo "quitDrop=$quitDrop";
if [ "$quitDrop" != "true" ]; then
	quitDrop="0";
else
	quitDrop="1";
fi

#echo "runReopen=$runReopen";
if [ "$runReopen" != "true" ]; then
	runReopen="0";
else
	runReopen="1";
fi


"$OMC_OMC_SUPPORT_PATH/omc_dialog_control" "$OMC_NIB_DLG_GUID" 1 "$showNav";
"$OMC_OMC_SUPPORT_PATH/omc_dialog_control" "$OMC_NIB_DLG_GUID" 2 "$quitDrop";
"$OMC_OMC_SUPPORT_PATH/omc_dialog_control" "$OMC_NIB_DLG_GUID" 3 "$runReopen";
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>com.abracode.DropletPreferences.Initialize</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Droplet Preferences</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>bundleIdentifier=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$OMC_MY_HOST_BUNDLE_PATH/Contents/Info.plist" /CFBundleIdentifier);

/usr/bin/defaults write "$bundleIdentifier" SHOW_NAV_DIALOG_ON_STARTUP -bool "$OMC_NIB_DIALOG_CONTROL_1_VALUE"

#"$OMC_OMC_SUPPORT_PATH/plister" set bool "$OMC_NIB_DIALOG_CONTROL_1_VALUE" "$prefsFile"  /SHOW_NAV_DIALOG_ON_STARTUP
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>com.abracode.DropletPreferences.ShowChooseOnStartup</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Droplet Preferences</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>bundleIdentifier=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$OMC_MY_HOST_BUNDLE_PATH/Contents/Info.plist" /CFBundleIdentifier);

/usr/bin/defaults write "$bundleIdentifier" QUIT_AFTER_DROP_EXECUTION -bool "$OMC_NIB_DIALOG_CONTROL_2_VALUE"

#prefsFile="/Users/$USER/Library/Preferences/$bundleIdentifier.plist";
#"$OMC_OMC_SUPPORT_PATH/plister" set bool "$OMC_NIB_DIALOG_CONTROL_2_VALUE" "$prefsFile"  /QUIT_AFTER_DROP_EXECUTION
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>com.abracode.DropletPreferences.QuitAfterExecution</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Droplet Preferences</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ACTIVATION_MODE</key>
			<string>act_always</string>
			<key>COMMAND</key>
			<array>
				<string>bundleIdentifier=$("$OMC_OMC_SUPPORT_PATH/plister" get value "$OMC_MY_HOST_BUNDLE_PATH/Contents/Info.plist" /CFBundleIdentifier);

/usr/bin/defaults write "$bundleIdentifier" RUN_COMMAND_ON_REOPEN_EVENT -bool "$OMC_NIB_DIALOG_CONTROL_3_VALUE"

#prefsFile="/Users/$USER/Library/Preferences/$bundleIdentifier.plist";
#"$OMC_OMC_SUPPORT_PATH/plister" set bool "$OMC_NIB_DIALOG_CONTROL_3_VALUE" "$prefsFile"  /RUN_COMMAND_ON_REOPEN_EVENT
</string>
			</array>
			<key>COMMAND_ID</key>
			<string>com.abracode.DropletPreferences.RunOnReopen</string>
			<key>ESCAPE_SPECIAL_CHARS</key>
			<string>esc_with_backslash</string>
			<key>EXECUTION_MODE</key>
			<string>exe_silent_popen</string>
			<key>NAME</key>
			<array>
				<string>Droplet Preferences</string>
			</array>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
