CODE_SIGN_ENTITLEMENTS = ${TARGET_NAME}.entitlements

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = OMCService_Prefix.pch

INFOPLIST_FILE = OMCService-Info.plist
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.abracode.${TARGET_NAME}
PRODUCT_NAME = ${TARGET_NAME}
WRAPPER_EXTENSION = service

ASSETCATALOG_COMPILER_APPICON_NAME = ${TARGET_NAME}
